Package: quick-deb-builder
Version: 1.1.2
Section: devel
Maintainer: Gustavo Moraes <gustavosotnas1@gmail.com>
Homepage: https://github.com/gustavosotnas/quick-deb-builder
Installed-Size: 40
Priority: optional
Architecture: all
Depends: yad
Description: Quick DEB Builder
 Quick DEB Builder is a simple tool that quickly creates .deb packages 
 from an existing build tree. Just insert a folder path with a "debian-like" 
 directory structure and an output folder path.
 .
 It automatically solves most common permission problems for files 
 and directories in creating .deb packages.
